{% extends 'base.html' %} {% block title %}Reports | Inventory Management
System{% endblock %} {% block content %}
<div class="card mt-4">
  <div class="card-body">
    <h3 class="card-title">Available Reports</h3>
    <ul class="list-group">
      {% for report in available_reports %}
      <li
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        {{ report.name }}
        <a href="{{ url_for(report.endpoint) }}" class="btn btn-primary btn-sm"
          >Run</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
